body {
  font-family: Arial, sans-serif;
  background-color: #D3D4D5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  width: 50%;
  padding: 1rem;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.container h2 {
  text-align: center;
  margin-bottom: 20px;
}


.container input[type="text"],
.container input[type="number"],
.container input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.card {
  width: 100%;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color:#ffffff;
  background-color: rgba(32, 31, 31, 0.6);
  font-family: Roboto;
}
.container button {
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.container button:hover {
  background-color: #45a049;
}
.message {
  color: #841d1d;
  text-align: center;
  margin-top: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  padding: 1rem;
  background: linear-gradient(to right,rgba(132,29,29,0.75), rgba(186,97,0,.8));
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4) ;
}
.poster {
  display: flex;
  justify-content: center;
  align-items: center;
}
.poster-img {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
  height: 100%;
}

@media (max-width: 768px) {

  .main-container {
    grid-template-columns: 1fr;
    width: 100%;
    gap:10px;
  }
  .poster-img {
    display: none;
}

}